services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: personal_site_frontend
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - internal
